.advantages {
  margin: 0;
  padding: 0;
}
.advantages__header {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  color: @specionalcolor;
  text-align: center;
  margin-bottom: 110px;
}
.advantages__list {
  list-style: none;
}
.advantages__title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: @colorblack;
  text-align: center;
}
.advantages__description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: @specionalcolor;
  text-align: center;
}
