.advantages {
  position: relative;

  @media (min-width: @desktop-width) {
    height: 1370px;
  }

  &::before {
    position: absolute;
    top: 222px;
    content: "";
    height: 100px;
    width: 100%;
    background-image: url("../img/backgroundgrey-index.svg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;

    @media (min-width: @tablet-width) {
      top: 237px;
    }

    @media (min-width: @desktop-width) {
      height: 130px;
      top: 325px;
    }
  }

  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 25%;
    height: 288px;
    width: 157px;
    background-image: url("../img/pinkhi.png");
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/pinkhi@2x.png");
      background-size: cover;
    }

    @media (min-width: @tablet-width) {
      left: 20px;
      height: 483px;
      width: 268px;
      bottom: 325px;
    }

    @media (min-width: @desktop-width) {
      display: none;
    }
  }
}

.advantages__wrapper {
  margin: 0 auto;
  width: 280px;

  @media (min-width: @tablet-width) {
    width: 620px;
  }

  @media (min-width: @desktop-width) {
    width: 960px;
  }
}

.advantages__header {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  color: @specionalcolor;
  text-align: center;
  margin-top: 0;
  padding-top: 40px;
  margin-bottom: 110px;

  @media (min-width: @tablet-width) {
    font-weight: 300;
    font-size: 40px;
    line-height: 54px;
    padding-top: 50px;
    margin-bottom: 100px;
  }

  @media (min-width: @desktop-width) {
    font-size: 50px;
    line-height: 68px;
    padding-top: 60px;
    padding-left: 90px;
    padding-right: 90px;
    margin-bottom: 190px;
  }
}

.advantages__bottom {
  background: @coloradvantages;
  height: 705px;
  z-index: 5;

  @media (min-width: @tablet-width) {
    height: 740px;
  }

  @media (min-width: @desktop-width) {
    height: 920px;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  padding-top: 5px;
  list-style: none;
  z-index: 5;

  @media (min-width: @tablet-width) {
    padding-left: 315px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 30px;
    padding-right: 25px;
    gap: 68px;
  }
}

.advantages__item {
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    margin-bottom: 35px;

    &:nth-child(3) {
      margin-bottom: 23px;
    }
  }
}

.advantages__title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: @colorblack;
  text-align: center;
  margin: 0;
  margin-bottom: 10px;

  @media (min-width: @tablet-width) {
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 20px;
  }
}

.advantages__description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: @specionalcolor;
  text-align: center;
  margin: 0;

  @media (min-width: @tablet-width) {
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    text-align: center;
    font-size: 18px;
    line-height: 30px;
  }
}

.advantages__br {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.advantages__img {
  display: none;
  margin: 0 auto;
  z-index: 5;

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.advantages__imgcont {
  display: none;
  margin: 0 auto;
  z-index: 10;
  box-shadow: 0 13px 9px -4px rgba(34, 60, 80, 0.6);

  @media (min-width: @desktop-width) {
    display: block;
    height: 300px;
    width: 186px;
    overflow: hidden;
    margin-top: -129px;
    margin-bottom: 55px;
    border-radius: 10px;
  }
}
