.button {
  color: @colorwhite;
  background-color: @colorbutton;
  padding: 13px 35px 13px 35px;
  width: 100%;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  border: 2px solid @colorbutton;
  border-radius: 1px;
}

.button__modal {
  color: @colorwhite;
  background-color: @colorbutton;
  padding: 13px 35px 13px 35px;
  width: 100%;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  border: 2px solid @colorbutton;
  border-radius: 1px;
  margin-top: 52px;
}
