.catalogintro {
  height: 236px;
  width: 320px;
  background: url("../img/backgroundhead.jpg") no-repeat;
}

.catalogintro__wrapper {
  margin: 0 auto;
  padding: 0;
  width: 280px;
}

.catalogintro__header {
  margin: 0;
  padding: 0;
  padding-top: 92px;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
}
