.contacts__head {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  color: @specionalcolor;
  text-decoration: none;
  text-align: center;
}

.contacts__title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: @colorblack;
  text-align: center;
}

.contacts__phone {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: @colorcontacts;
  text-align: center;
  text-decoration: none;
}

.contacts__email {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: @colorcontacts;
  text-align: center;
}

.contacts__adress {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: @colorcontacts;
  text-align: center;
}
