.contacts__head {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  color: @specionalcolor;
  text-decoration: none;
  text-align: center;
  margin: 0;
  padding-top: 47px;

  @media (min-width: @tablet-width) {
    font-size: 40px;
    line-height: 54px;
  }

  @media (min-width: @desktop-width) {
    font-size: 50px;
    line-height: 68px;
  }
}

.contacts__list {
  list-style: none;
  padding: 0;
  margin-top: 35px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.contacts__item {
  margin-bottom: 16px;
}

.contacts__item:nth-child(2) {
  @media (min-width: @tablet-width) {
    margin-left: 97px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    order: 2;
  }
}

.contacts__item:nth-child(3) {
  @media (min-width: @tablet-width) {
    margin-top: 25px;
    margin-left: 212px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    order: 1;
  }
}


.contacts__title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: @colorblack;
  text-align: center;
  margin: 0;
}

.contacts__phone {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: @colorcontacts;
  text-decoration: none;
  padding-left: 37px;
}

.contacts__email {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: @colorcontacts;
  padding-left: 20px;
  cursor: pointer;

  &:hover {
    color: @specionalcolor;
    text-decoration: underline;
  }

  &:active {
    color: @specionalcolor;
    opacity: 0.3;
  }

  @media (min-width: @desktop-width) {
    padding-left: 50px;
  }
}

.contacts__adress {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: @colorcontacts;
  text-align: center;
  margin: 0;

  @media (min-width: @desktop-width) {
    margin-top: 15px;
  }
}

.contacts__wrapper {
  width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 620px;
  }

  @media (min-width: @desktop-width) {
    width: 960px;
  }
}

.contacts__map {
  position: relative;
  height: 200px;
  width: 100%;
  margin: 0;
  margin-top: 40px;
  padding: 0;

  @media (min-width: @tablet-width) {
    height: 374px;
    margin-top: 15px;
  }

  @media (min-width: @desktop-width) {
    height: 533px;
  }
}

.contacts__map::before {
  content: "";
  position: absolute;
  height: 100px;
  width: 100%;
  top: 0;
  background-image: url("../img/mapangel.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 0;
  z-index: 25;

  @media (min-width: @tablet-width) {
    height: 120px;
    top: -10px;
  }

  @media (min-width: @desktop-width) {
    height: 150px;
  }
}

.contacts__mapview {
  height: 200px;
  width: 100%;

  @media (min-width: @tablet-width) {
    height: 367px;
  }

  @media (min-width: @desktop-width) {
    height: 533px;
  }
}

.contacts {
  @media (min-width: @desktop-width) {
    height: 873px;
  }
}
