.copyright__text {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: @specionalcolor;
  text-align: center;
  padding: 0;
  margin: auto;
  margin-left: 0;
  margin-right: 5px;
  margin-top: 33px;
}

.copyright__logo {
  width: 27px;
  height: 44px;
  fill: @colorcontacts;
  margin-top: 20px;
}

.copyright__link {
  margin-left: 15px;

  @media (min-width: @tablet-width) {
    margin-left: 10px;
  }
}
