.formintro {
  height: 236px;
  width: 320px;
  background: url("../img/backgroundhead.jpg") no-repeat;
}

.formintro__header {
  text-transform: none;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  margin: 0;
  padding-top: 86px;
  text-align: center;
  padding-left: 16px;
  padding-right: 16px;
}
