.form__title {
  display: inline-block;
  vertical-align: middle;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: @colorformtitle;
  padding-left: 21px;
  margin-top: 0;
  margin-bottom: 8px;
  pointer-events: none;

  @media (min-width: @tablet-width) {
    padding-left: 0;
    margin-right: 10px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 15px;
    margin-right: 20px;
  }
}

.form__wrapper {
  margin: 0 auto;
  padding: 0;
  width: 276px;

  @media (min-width: @tablet-width) {
    width: 496px;
  }

  @media (min-width: @desktop-width) {
    width: 816px;
  }
}

.form__wrapper--contactsdesktiop {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 74px;
  }
}

.form__wrapperbottom {
  margin: 0 auto;
  width: 276px;

  @media (min-width: @tablet-width) {
    width: 616px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    width: 936px;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.form__wrapperphone {
  @media (min-width: @tablet-width) {
    position: relative;
    display: flex;
    flex-direction: column;

    &::after {
      content: "";
      cursor: pointer;
      position: absolute;
      top: 11px;
      right: -3px;
      width: 58px;
      height: 58px;
      background-color: @colorformborder;
      background-image: url("../img/phoneiconform.svg");
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
  }
}

.form__wrapperemail {
  @media (min-width: @tablet-width) {
    position: relative;
    display: flex;
    flex-direction: column;

    &::after {
      content: "";
      cursor: pointer;
      position: absolute;
      top: 31px;
      right: -3px;
      width: 58px;
      height: 58px;
      background-color: @colorformborder;
      background-image: url("../img/mailiconform.svg");
      background-repeat: no-repeat;
      background-position: 50% 50%;

      @media (min-width: @desktop-width) {
        top: 11px;
      }
    }
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
  }
}

.title--first {
  margin-top: 2px;
  margin-bottom: 10px;

  @media (min-width: @tablet-width) {
    width: 77px;
    margin-right: 15px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 19px;
  }
}

.form__title--phone {
  margin-top: 8px;

  @media (min-width: @tablet-width) {
    order: 2;
    margin: 0;
    margin-left: 20px;
  }
}

.form__title--email {
  @media (min-width: @tablet-width) {
    order: 4;
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 25px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 15px;
  }
}

.form__datainput {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  width: 90%;
  border-radius: 1px;
  border: 2px solid @colorformborder;
  margin: 0;
  padding-left: 19px;
  padding-top: 12px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  resize: none;
  color: @specionalcolor;

  &:hover {
    border-color: @specionalcolor;
  }

  &:active {
    border-color: @colorformtitle;
  }

  @media (min-width: @tablet-width) {
    width: 80%;
    margin-bottom: 50px;
  }


  @media (min-width: @desktop-width) {
    width: 71%;
    margin-bottom: 57px;
  }
}

.form__datainput--name {
  @media (min-width: @tablet-width) {
    width: 87%;
  }

  @media (min-width: @desktop-width) {
    width: 80%;
  }
}

.datainput--firstname {
  margin-bottom: 44px;

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
    width: 70.5%;
  }
}

.datainput--big {
  margin-bottom: 50px;

  @media (min-width: @tablet-width) {
    width: 96%;
    padding-top: 20px;
  }

  @media (min-width: @desktop-width) {
    width: 97%;
    height: 104px;
    margin-bottom: 40px;
    padding-bottom: 0;
  }
}

.form__datainput--phone {
  @media (min-width: @tablet-width) {
    position: relative;
    width: 96%;
    order: 1;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  @media (min-width: @desktop-width) {
    width: 94.5%;
  }
}

.formdatainput--email {
  margin-bottom: 44px;

  @media (min-width: @tablet-width) {
    width: 96%;
    order: 3;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 10px;
    width: 94.5%;
  }
}

.form__section {
  border: none;

  @media (min-width: @tablet-width) {
    padding: 0;
    border: 2px solid @colorformborder;
    border-radius: 1px;
    margin-bottom: 40px;
    width: 616px;
  }

  @media (min-width: @desktop-width) {
    width: 936px;
    margin: auto;
    margin-bottom: 69px;
  }
}

.form__section--emotion {
  @media (min-width: @tablet-width) {
    margin-top: 10px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
  }
}

.form__section:nth-child(4) {
  @media (min-width: @desktop-width) {
    padding: 0;
    margin: 0;
    width: 431px;
    min-height: 303px;
    margin-top: 0;

    .form__wrapper {
      width: 331px;
      margin-left: 74px;
    }
  }
}

.form__section-contacts {
  margin-top: 20px;
  display: flex;
  flex-direction: row-reverse;

  @media (min-width: @tablet-width) {
    margin-top: 20px;
    margin-bottom: 70px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.section--first {
  @media (min-width: @tablet-width) {
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 45px;
    margin-bottom: 5px;

    .form__wrapper {
      width: 616px;
      margin: 0;
    }
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    margin-top: 20px;
    width: 396px;

    .form__wrapper {
      width: 445px;
      margin: 0;
    }
  }
}

.section--color {
  background-color: @coloradvantages;

  @media (min-width: @tablet-width) {
    background-color: @colorwhite;
  }
}

.form__header {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: @colorformtitle;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 44px;
  padding-left: 22px;
  padding-right: 22px;
  text-transform: uppercase;

  &:nth-last-child(1) {
    margin-bottom: 22px;
  }

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.form__legend {
  display: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: @colorformtitle;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    display: block;
    font-size: 14px;
    line-height: 30px;
    padding-top: 10px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 0;
  }
}

.form__info {
  display: inline-block;
  vertical-align: middle;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: @specionalcolor;
  text-transform: uppercase;
  margin-top: 25px;
  padding-left: 53px;

  @media (min-width: @tablet-width) {
    margin-top: 0;
  }
}


.header--emotion {
  margin-top: 30px;
  margin-bottom: 22px;
}

.form__label {
  display: flex;
  align-items: center;
  min-height: 41px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: @specionalcolor;
  padding-left: 62px;
}

.label--radio {
  padding-left: 72px;
}

.form__listprogress {
  list-style: none;
  padding: 0;

  @media (min-width: @desktop-width) {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0 9px;
  }
}

.form__item {
  position: relative;
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    margin-bottom: 32px;
  }

  &:nth-last-child(1) {
    margin-bottom: 32px;
  }
}

.form__item--progress {
  @media (min-width: @tablet-width) {
    margin-bottom: 42px;
  }
}

.form__listdevice {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: -5px;

  @media (min-width: @tablet-width) {
    margin-top: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 20px;
  }
}

.form_specional {
  color: @colorformtitle;
}

.form {
  @media (min-width: @tablet-width) {
    width: 616px;
    margin: 0 auto;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;

    .form__section:nth-child(1) {
      order: 1;
    }

    .form__section:nth-child(2) {
      order: 4;
      margin-top: -25px;

      @media (min-width: @desktop-width) {
        margin-top: 3px;
        margin-bottom: 49px;
      }
    }

    .form__section:nth-child(3) {
      order: 3;
    }

    .form__section:nth-child(4) {
      order: 2;
    }

    .form__section:nth-child(5) {
      order: 5;
    }

    .form__wrapperbottom {
      order: 6;
    }
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    width: 936px;
  }
}

.form__datacheck + label {
  &::before {
    content: "";
    position: absolute;
    left: 5px;
    top: 0;
    width: 35px;
    height: 35px;
    background: @colorwhite;
    border: 2px solid @colorformborder;
    border-radius: 1px;
  }
}

.form__datacheck:not(:disabled):not(:checked) + label:hover::before,
.form__datacheck:not(:disabled):not(:checked) + label:focus::before {
  border-color: @specionalcolor;
}

.form__datacheck:not(:disabled):checked + label:hover::before,
.form__datacheck:not(:disabled):checked + label:focus::before {
  border-color: @specionalcolor;
}

.form__datacheck:not(:disabled):not(:checked) + label:active::before {
  border-color: @colorformtitle;
}

.form__datacheck:not(:disabled):checked + label:active::before {
  border-color: @colorformtitle;
}

.form__datacheck:checked + label {
  &::after {
    content: "";
    position: absolute;
    left: 15px;
    top: center;
    width: 22px;
    height: 16px;
    background: url("../img/checkedinput.svg") no-repeat;
  }
}

.form__dataradio + label {
  &::before {
    content: "";
    position: absolute;
    left: 5px;
    top: 0;
    width: 37px;
    height: 37px;
    background: @colorwhite;
    border: 2px solid @colorformborder;
    border-radius: 50%;
  }
}

.form__dataradio:checked + label {
  &::after {
    content: "";
    position: absolute;
    left: 18px;
    top: center;
    width: 15px;
    height: 15px;
    background: @colorformtitle;
    border-radius: 50%;
  }
}

.form__dataradio:not(:disabled):not(:checked) + label:hover::before,
.form__dataradio:not(:disabled):not(:checked) + label:focus::before {
  border-color: @specionalcolor;
}

.form__dataradio:not(:disabled):checked + label:hover::before,
.form__dataradio:not(:disabled):checked + label:focus::before {
  border-color: @specionalcolor;
}

.form__dataradio:not(:disabled):not(:checked) + label:active::before {
  border-color: @colorformtitle;
}

.form__dataradio:not(:disabled):checked + label:active::before {
  border-color: @colorformtitle;
}

.form__specionaldesktop {
  display: none;

  @media (min-width: @desktop-width) {
    display: inline-block;
  }
}

.form__itemdevice {
  position: relative;
  margin: 0;
  margin-bottom: 33px;
}
