.form__title {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: @colorformtitle;
  padding-left: 21px;
  margin-top: 18px;
  margin-bottom: 5px;
}

.title--first {
  margin-top: 2px;
  margin-bottom: 10px;
}

.title--phone {
  margin-top: 40px;
}

.form__datainput {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  width: 252px;
  border-radius: 1px;
  border: 2px solid @colorformborder;
  margin: 0;
  padding-left: 19px;
  padding-top: 12px;
  padding-bottom: 15px;
  resize: none;
  color: @specionalcolor;
}

.datainput--firstname {
  margin-bottom: 44px;
}

.datainput--big {
  margin-bottom: 50px;
}

.datainput--email {
  margin-bottom: 44px;
}

.form__section {
  border: none;

  &:nth-child(2) {
    margin: 0;
    background-color: @coloradvantages;
  }

  &:nth-child(4) {
    background-color: @coloradvantages;
  }
}

.form__header {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: @colorformtitle;
  text-align: center;
  margin-top: 38px;
  margin-bottom: 44px;
  text-transform: uppercase;

  &:nth-last-child(1) {
    margin-bottom: 22px;
  }
}

.header--emotion {
  margin-top: 32px;
  margin-bottom: 22px;
}

.form__label {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: @specionalcolor;
  padding-left: 42px;
}

.label--radio {
  padding-left: 52px;
}

.form__listprogress {
  list-style: none;
  padding: 0;
}

.form__item {
  margin-bottom: 50px;

  &:nth-last-child(1) {
    margin-bottom: 45px;
  }
}

.form__listdevice {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form__legend {
  padding-left: 49px;
  color: @specionalcolor;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}

.form_specional {
  color: @colorformtitle;
}
