.formcontest__header {
  margin: 0;
  padding-top: 54px;
  margin-bottom: 26px;
  color: @specionalcolor;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

.formcontest__wrapper {
  margin: 0 auto;
  padding: 0;
  width: 276px;
}
