.formintro {
  min-height: 236px;
  width: 100%;
  background: url("../img/indexmobile-head.jpg");
  background-size: cover;

  @media (min-width: @tablet-width) {
    height: 438px;
    background-image: url("../img/indextablet-head.jpg");
  }

  @media (min-width: @desktop-width) {
    height: 392px;
    background-image: url("../img/indexdesktop-head.jpg");
  }
}


.formintro__header {
  text-transform: none;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  margin: 0;
  padding-top: 96px;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 50px;
    line-height: 68px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 166px;
  }
}

.formintro__wrapper {
  width: 228px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 620px;
  }

  @media (min-width: @desktop-width) {
    width: 960px;
  }
}
