.intro {
  position: relative;
  margin: 0 auto;
  padding: 0;
  height: 673px;
  background-image: url("../img/indexmobile-head.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-width: @tablet-width) {
    height: 653px;
  }

  @media (min-width: @desktop-width) {
    height: 643px;
    background-image: url("../img/indexdesktop-head.jpg");
  }
}

.intro::before {
  content: "";
  position: absolute;
  //left: -49%;
  bottom: 270px;
  width: 100%;
  height: 286px;
  background-image: url("../img/headphone.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -150px 0;
}

.intro::after {
  content: "";
  position: absolute;
  bottom: 346px;
  left: 33%;
  width: 104px;
  height: 182px;
  background-image: url("../img/headscreenpink.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.intro__head {
  margin: 0;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  padding-left: 31px;
  padding-right: 20px;
  padding-top: 32px;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding-top: 102px;
    font-size: 40px;
    line-height: 120%;
  }

  @media (min-width: @desktop-width) {
    padding-top: 114px;
    font-size: 50px;
    line-height: 68px;
  }
}

.intro__wrapper {
  margin: 0 auto;
  width: 280px;

  @media (min-width: @tablet-width) {
    width: 300px;
    margin-left: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 120px;
  }
}

.intro__wrapperbottom {
  position: absolute;
  height: 273px;
  width: 100%;
  bottom: 0;
  background-color: #1d2631;

  @media (min-width: @tablet-width) {
    background-color: inherit;
    height: 373px;
  }

  @media (min-width: @desktop-width) {
    height: 300px;
  }
}

.intro__button {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  border: 3px solid #ffffff;
  border-radius: 29px;
  padding: 16px 38px 14px 32px;
  margin-top: 30px;
  text-align: center;
  background-color: transparent;
  color: @colorwhite;

  &:hover,
  &:focus {
    background-color: @colorwhite;
    color: @colorcontacts;
  }

  &:active {
    background-color: @colorwhite;
    color: rgba(210, 40, 86, 0.3);
  }

  @media (min-width: @tablet-width) {
    padding: 16px 30px 14px 30px;
  }
}

.intro__available {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.intro__list {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  margin-top: 35px;
  padding-left: 19px;
  padding-right: 19px;
}

.list__item {
  display: block;
  margin: auto;
}
