.intro{
  margin: 0;
  padding: 0;
  background: url("../../img/backgroundhead.jpg") no-repeat;
}
.intro__head{
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 29px;
  text-align: center;
}
.intro__wrapperbottom{
  background-color: #1D2631;
}
.intro__button{
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  border: 3px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 29px;
  padding: 21px 39px 21px 38px;
  background-color: transparent;
  color: @colorwhite;
}
.intro__available{
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}
