.modalsuccess {
  display: none;
  position: relative;
  height: 380px;
  box-shadow: 0 12px 20px 0 rgba(84, 49, 49, 0.18);
}

.modalsuccess__title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: @colorblack;
  text-align: center;
  padding-top: 44px;
  margin-bottom: 32px;
}

.modalsuccess__wrapper {
  width: 266px;
  margin: 0 auto;
}

.modalsuccess__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: @specionalcolor;
  text-align: center;
}

.modalsuccess__wrapperbottom {
  position: absolute;
  bottom: 0;
  height: 163px;
  width: 100%;
  background-color: @coloradvantages;
}
