.page-header {
  height: 326px;
  margin: 0;
  padding: 0;
  background: @specionalcolor;
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  display: block;
  margin-top: 25px;
  margin-left: 20px;
  height: 23px;
}

@media (min-width: @tablet-width) {
  .page-header {
    height: 341px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    display: flex;
    flex-direction: row;
    height: 90px;
  }
}

.page__wrapper {
  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 936px;
    margin: 0 auto;
  }
}
