.page-header {
  margin: 0;
  padding: 0;
  width: 100%;
  background: @specionalcolor;
  display: flex;
  flex-direction: column;
}

.page-header__logolink {
  @media (min-width: @desktop-width) {
    width: 163px;
  }
}

.page-header__logo {
  margin-top: 20px;
  margin-left: 20px;
  height: 23px;
  width: 74px;

  @media (min-width: @desktop-width) {
    margin-top: 28px;
    margin-left: 75px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    display: flex;
    flex-direction: row;
    height: 93px;
    padding-top: 17px;
  }
}

.page__wrapper {
  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 936px;
    margin: 0 auto;
  }
}
