.photousers__wrapperheader {
  margin: 0 auto;
  padding: 0;
  width: 280px;

  @media (min-width: @tablet-width) {
    width: 520px;
  }

  @media (min-width: @desktop-width) {
    width: 580px;
  }
}

.photousers__wrapper {
  margin: 0 auto;
  padding: 0;
  width: 280px;

  @media (min-width: @tablet-width) {
    width: 620px;
  }

  @media (min-width: @desktop-width) {
    width: 940px;
  }
}

.photousers__wrappercomment {
  width: 253px;
  height: 100px;
  margin: 0;
  margin-left: 17px;
  padding-top: 16px;

  @media (min-width: @tablet-width) {
    min-height: 135px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.wrappercomment--first {
  min-height: 124px;

  @media (min-width: @tablet-width) {
    min-height: 135px;
  }
}

.wrappercomment--advertising {
  min-height: 124px;

  @media (min-width: @tablet-width) {
    min-height: 135px;
  }
}

.photousers__header {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: @specionalcolor;
  text-align: center;
  padding-top: 32px;
  margin-bottom: 50px;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    margin-top: 60px;
    margin-bottom: 80px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 90px;
  }
}

.photousers__panoram {
  position: relative;
  height: 137px;
  width: 100%;

  @media (min-width: @tablet-width) {
    height: 509px;
  }
}

.photousers__panoramcomments {
  background-color: @coloradvantages;
  margin: 0 auto;
  padding: 0;
  height: 193px;
  width: 280px;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    width: 620px;
    height: 121px;
    margin-bottom: 50px;
  }

  @media (min-width: @desktop-width) {
    height: 96px;
    width: 940px;
    margin-left: auto;
    margin-right: auto;
  }
}

.photousers__commentpanoram {
  margin: 0;
  margin-top: -4px;
  padding: 0;
  padding-left: 17px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 26px;

  @media (min-width: @tablet-width) {
    display: grid;
    //align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px 60px;
  }
}

.photousers__comment {
  margin: 0;
  padding: 0;
  background-color: @coloradvantages;
}

.photousers__name {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: @specionalcolor;
}

.photousers__timepost {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  color: @specionalcolor;
  text-transform: uppercase;
}

.photousers__text {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: @specionalcolor;
  text-align: left;
  margin-bottom: 10px;
  overflow: auto;
}

.photousers__likes {
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  color: @colorformtitle;
  text-transform: uppercase;
  padding-left: 32px;
  margin-bottom: 20px;

  &::before {
    content: "";
    position: absolute;
    cursor: pointer;
    top: 5px;
    left: 0;
    width: 13px;
    height: 12px;
    background: url("../img/heart.svg") no-repeat;

    @media (min-width: @tablet-width) {
      left: 245px;
    }
  }

  @media (min-width: @tablet-width) {
    padding-left: 0;
  }
}

.photousers__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 20px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.photousers_item {
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    width: 300px;
  }
}

.photousers__photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photousers__headbr {
  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.photousers__photocontainer {
  height: 180px;
  width: 280px;

  @media (min-width: @tablet-width) {
    width: 300px;
    height: 300px;
  }

  @media (min-width: @desktop-width) {
    height: 400px;
  }
}

.photousers__linkpanorama {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: -120px;
    right: 10px;
    width: 148px;
    height: 36px;
    background: url("../img/panaramday.svg") no-repeat;

    @media (min-width: @tablet-width) {
      top: -440px;
      right: 10px;
    }

    @media (min-width: @desktop-width) {
      right: 110px;
    }
  }
}

.photousers__likes--panaram {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    cursor: pointer;
    top: 5px;
    right: 100px;
    width: 13px;
    height: 12px;
    background: url("../img/heart.svg") no-repeat;

    @media (min-width: @tablet-width) {
      left: 250px;
    }

    @media (min-width: @desktop-width) {
      left: 410px;
    }
  }

  @media (min-width: @tablet-width) {
    grid-column: 2 / -1;
    grid-row: 1 / 1;
    padding-left: 140px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 300px;
  }
}

.photousers__text--panoram {
  @media (min-width: @tablet-width) {
    grid-column: 1 / span 2;
  }
}
