.price {
  margin: 0;
  padding-top: 70px;
  height: 300px;
  background-color: @coloradvantages;

  @media (min-width: @desktop-width) {
    height: 400px;
  }
}

.price__table {
  border-collapse: collapse;
}

.price__header {
  display: none;
  height: 70px;
  width: 280px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  color: @colorwhite;
  text-align: center;
  background-color: @specionalcolor;

  @media (min-width: @tablet-width) {
    width: 145px;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 20px;
  }

  @media (min-width: @desktop-width) {
    width: 233px;
    font-size: 18px;
    line-height: 30px;
  }
}

.price__header--current {
  padding-top: 20px;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    width: 145px;
    margin: auto;
    padding-top: 20px;
  }

  @media (min-width: @desktop-width) {
    width: 233px;
    font-size: 18px;
    line-height: 30px;
  }
}

.price__header:nth-child(1) {
  background-color: @coloradvantages;
  border: none;
}

.price__item:nth-child(2) {
  background-color: @specionalcolor;
}

.price__item {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
  }
}

.price__value {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: @colorwhite;

  @media (min-width: @desktop-width) {
    font-size: 24px;
    line-height: 30px;
  }
}

.price__text {
  height: 30px;
  padding-top: 5px;
  display: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: @specionalcolor;
  text-align: left;
  background-color: @colorwhite;
  border: 2px solid @colorformborder;

  @media (min-width: @tablet-width) {
    display: block;
    width: 145px;
  }

  @media (min-width: @desktop-width) {
    width: 233px;
    font-size: 18px;
    line-height: 30px;
  }
}

.price__text--current {
  display: block;
}

.price__wrapper {
  width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 620px;
  }

  @media (min-width: @desktop-width) {
    width: 960px;
  }
}
