.reviews {
  position: relative;
  margin-top: 45px;
  height: 350px;

  &::before {
    position: absolute;
    top: 300px;
    content: "";
    height: 100px;
    width: 100%;
    background-image: url("../img/backgroundgrey-index.svg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 5;
  }
}

.reviews__author {
  display: flex;
  flex-direction: column;
}

.reviews__authorname {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: @colorblack;
  text-align: center;

  @media (min-width: @tablet-width) {
    order: 2;
  }
}

.reviews__authorold {
  display: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: @specionalcolor;

  @media (min-width: @tablet-width) {
    display: block;
    order: 3;
    padding-left: 220px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 390px;
  }
}

.reviews__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: @specionalcolor;

  @media (min-width: @tablet-width) {
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    order: 1;
  }
}

.reviews__item {
  margin: 0;
}

.reviews__wrapper {
  margin: 0 auto;
  width: 280px;

  @media (min-width: @tablet-width) {
    width: 620px;
  }

  @media (min-width: @desktop-width) {
    width: 960px;
  }
}

.reviews__list {
  margin-bottom: 10px;

  @media (min-width: @desktop-width) {
    margin-top: 100px;
  }
}

.reviews__toggleslist {
  margin: 0;
  padding: 0;
  text-align: center;
  height: 30px;
  padding-left: auto;
}

.reviews__toggle {
  margin-right: 3px;
  border-radius: 50%;
  background-color: rgba(40, 54, 69, 0.3);
  border: 2px solid @colorwhite;
  height: 16px;
  width: 16px;
}

.slider__toggle--current {
  background-color: @colorwhite;
  border: 4px solid @specionalcolor;
  height: 18px;
  width: 18px;
}
