.site-list {
  list-style: none;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
}

.site-list__item a {
  display: block;
  text-decoration: none;
  color: @colorwhite;
  padding: 10px 117px 10px 10px;
  text-align: center;
}
