.userload {
  @media (min-width: @desktop-width) {
    margin-bottom: 75px;
  }
}

.userload__header {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: @specionalcolor;
  text-align: center;
  padding-top: 22px;
  margin-bottom: 46px;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    margin-bottom: 76px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 15px;
    margin-bottom: 70px;
  }
}

.userload__wrapperheader {
  margin: 0 auto;
  width: 280px;

  @media (min-width: @tablet-width) {
    width: 450px;
  }
}

.userload__wrapper {
  margin: 0 auto;
  width: 280px;

  @media (min-width: @tablet-width) {
    padding-top: 54px;
    width: 620px;
    display: grid;
    grid-template-columns: 1fr 74px 1fr;
    grid-template-rows: 200px 200px;
  }

  @media (min-width: @desktop-width) {
    width: 770px;
  }
}

.userload__filterphoto {
  background-color: @coloradvantages;
  height: 755px;

  @media (min-width: @tablet-width) {
    height: 511px;
  }

  @media (min-width: @desktop-width) {
    margin: auto;
    width: 940px;
  }
}

.userload__photo {
  margin-top: 18px;
  margin-bottom: 23px;

  @media (min-width: @tablet-width) {
    margin: 0;
    grid-row: 1 / 2;
  }

  @media (min-width: @desktop-width) {
    width: 300px;
    height: 400px;
  }
}

.userload__button {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  border: 3px solid @colorformtitle;
  box-sizing: border-box;
  border-radius: 30px;
  color: @colorformtitle;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 6px;
  padding-right: 6px;
  width: 280px;
  min-height: 55px;
  margin-top: 65px;
  margin-bottom: 10px;

  &:hover,
  &:focus {
    background: @colorformtitle;
    color: @colorwhite;
  }

  &:active {
    background: @colorformtitle;
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: @tablet-width) {
    width: 260px;
    margin-bottom: 25px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 140px;
    width: 183px;
  }
}

.button--cancel {
  margin-top: 3px;
  padding-left: 6px;
  padding-right: 6px;
  opacity: 0.1;

  &:hover,
  &:focus {
    background: inherit;
    color: rgba(40, 54, 69, 1);
    opacity: 0.3;
  }

  &:active {
    background: @specionalcolor;
    color: rgba(255, 255, 255, 0.3);
    opacity: 0.3;
  }

  @media (min-width: @desktop-width) {
    margin-top: 140px;
    padding: 6px 40px 5px 40px;
  }
}

.userload__filterlist {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-left: 22px;
  padding-right: 32px;

  @media (min-width: @tablet-width) {
    width: 24px;
    height: 214px;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: -15px;
    padding-right: 0;
    padding-left: 50px;
    margin-bottom: 0;
  }
}

.filterlist__item {
  display: block;
  margin: auto;
}

.userload__scale {
  position: relative;
  display: none;
  margin-top: 35px;
  margin-left: 20px;
  width: 240px;
  height: 2px;
  background: @specionalcolor;
  margin-bottom: 10px;

  @media (min-width: @tablet-width) {
    width: 202px;
    display: block;
  }

  @media (min-width: @desktop-width) {

    width: 288px;
  }
}

.scale--current {
  display: block;
}

.userload__toggle {
  position: absolute;
  top: -6px;
  left: 193px;
  width: 10px;
  height: 10px;
  border: 2px solid @colorcontacts;
  border-radius: 50%;
  background: @colorwhite;

  &:hover {
    cursor: pointer;
  }

  &:active {
    background: @colorformtitle;
  }

  @media (min-width: @tablet-width) {
    left: 163px;
  }

  @media (min-width: @desktop-width) {
    left: 233px;
  }
}

.toggle--saturation {
  left: 33px;
}

.toggle--contrast {
  left: 90px;

  @media (min-width: @desktop-width) {
    left: 140px;
  }
}

.filterlist__buttonscale {
  border: none;
  background: inherit;
}

.filterlist__buttonconsaturation {
  border: none;
  background: inherit;
}

.filterlist__buttoncontrast {
  border: none;
  background: inherit;
}

.userload__scalelist {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: @tablet-width) {
    padding-left: 12px;
    margin-top: -14px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 35px;
  }
}

.scalelist__item {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 30px;
    left: -10px;
    width: 300px;
    height: 1px;
    background: @specionalcolor;
    opacity: 0.1;

    @media (min-width: @tablet-width) {
      width: 275px;
      left: -35px;
    }

    @media (min-width: @desktop-width) {
      top: 35px;
      left: -70px;
      width: 405px;
    }
  }

  @media (min-width: @tablet-width) {
    display: block;
    height: 30px;
    margin-bottom: 40px;
  }
}

.scalelist__item:nth-child(2)::before {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    width: 275px;
    left: -35px;
    top: 35px;
  }

  @media (min-width: @desktop-width) {
    top: 39px;
    left: -70px;
    width: 405px;
  }
}

.scalelist__item:nth-child(3)::before {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    width: 275px;
    left: -35px;
    top: 35px;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.userload_buttonwrapper {
  @media (min-width: @tablet-width) {
    margin-left: 53px;
    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-column-end: 4;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 410px;
  }
}

.userload__filtericonscale {
  fill: @specionalcolor;
  fill-opacity: 0.3;

  &:hover {
    fill: @specionalcolor;
    fill-opacity: 0.5;
  }

  @media (min-width: @tablet-width) {
    width: 22px;
    height: 22px;
  }

  @media (min-width: @desktop-width) {
    width: 44px;
    height: 44px;
  }
}

.userload__filtericonscale--current {
  fill: @colorformtitle;
  fill-opacity: 1;
}

.userload__filtericonsaturation {
  fill: @specionalcolor;
  fill-opacity: 0.3;

  &:hover {
    fill: @specionalcolor;
    fill-opacity: 0.5;
  }

  @media (min-width: @tablet-width) {
    width: 24px;
    height: 22px;
  }

  @media (min-width: @desktop-width) {
    width: 48px;
    height: 43px;
  }
}

.userload__filtericoncontrast {
  fill: @specionalcolor;
  fill-opacity: 0.3;

  &:hover {
    fill: @specionalcolor;
    fill-opacity: 0.5;
  }

  @media (min-width: @tablet-width) {
    width: 16px;
    height: 16px;
  }

  @media (min-width: @desktop-width) {
    width: 32px;
    height: 32px;
  }
}

.userload__filtericonsaturation--current {
  fill: @colorformtitle;
  fill-opacity: 1;
}

.userload__filtericoncontrast--current {
  fill: @colorformtitle;
  fill-opacity: 1;
}
