.userload__header {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: @specionalcolor;
  text-align: center;
  padding-top: 22px;
  margin-bottom: 46px;
}

.userload__wrapper {
  margin: 0 auto;
  width: 280px;
}

.userload__filterphoto {
  background-color: @coloradvantages;
  height: 755px;
}

.userload__photo {
  margin-top: 18px;
  margin-bottom: 23px;
}

.userload__button {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  border: 3px solid @colorformtitle;
  box-sizing: border-box;
  border-radius: 30px;
  color: @colorformtitle;
  padding: 16px 85px 15px 90px;
  margin-top: 65px;
  margin-bottom: 10px;
}

.button--cancel {
  margin-top: 3px;
  padding: 16px 99px 15px 103px;
  opacity: 0.1;
}

.userload__filterlist {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-left: 22px;
  padding-right: 32px;
}

.filterlist__item {
  display: block;
  margin: auto;
}

.userload__scale {
  position: relative;
  display: none;
  margin-top: 35px;
  margin-left: 20px;
  width: 240px;
  height: 2px;
  background: @specionalcolor;
  margin-bottom: 10px;
}

.scale--current {
  display: block;
}

.userload__toggle {
  position: absolute;
  top: -6px;
  left: 193px;
  width: 10px;
  height: 10px;
  border: 2px solid @colorcontacts;
  border-radius: 50%;
  background: @colorwhite;
}

.filterlist__button {
  border: none;
}
